<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css'
    href='{{ static("css/eric-meyer-reset.css") }}' />
    <link rel='stylesheet' type='text/css' href='{{ static("css/style.css") }}' />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa%7CNoto+Sans%7CDroid+Sans+Mono%7CRoboto+Slab"
      rel="stylesheet">
    <meta charset="utf-8" />
    <title>
    {% block title %}
      Wybory Prezydenta Rzeczypospolitej Polskiej 2000
    {% endblock %}
    </title>

  {% block head_extra %}
  {% endblock %}
  </head>
  <body>
  <div id='container'>
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
