{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
  {{ csrf_input }}
  <table>
    <th></th><th></th>
  {% for candidate in candidates %}
    {% if loop.index % 2 == 0 %}
    <tr class='even-row'>
    {% else %}
    <tr class='odd-row'>
    {% endif %}
      <td> {{candidate.first_name}} {{candidate.last_name}} </td>
      <td> <input name='{{candidate.id}}' type='number' value='{{candidate.votes}}'/> </td>
    </tr>
  {% endfor %}
  <td></td><td><input type="submit" value="Zapisz zmiany" /></td>
  </table>
</form>
{% endblock %}
